<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<th:block th:each="s : ${statistics}">
    <table>
        <tr>
            <td>Номер задачи</td>
            <td>Учетная запись</td>
            <td>Имя задачи</td>
            <td>Папка запуска</td>
            <td>Очередь</td>
            <td>Время выполнения</td>
            <td>Время начала</td>
            <td>Время конца</td>
            <td>Количество потоков</td>
            <td>Рабочие узлы</td>
        </tr>

        <td th:utext="${s.getId_Job()}"></td>
        <td th:utext="${s.getAccount()}"></td>
        <td th:utext="${s.getJob_Name()}"></td>
        <td th:utext="${s.getWorkDir()}"></td>
        <td th:utext="${s.getPartition()}"></td>
        <td th:utext="${s.getTime()}"></td>
        <td th:utext="${s.getTimeStart()}"></td>
        <td th:utext="${s.getTimeEnd()}"></td>
        <td th:utext="${s.getCpus_req()}"></td>
        <td th:utext="${s.getNodeList()}"></td>
    </table>
</th:block>
</body>
</html>